<?xml version="1.0" encoding="ISO-8859-1" ?>
<lbaas-config>
   
   <api-port>8888</api-port>
      
   <db-path>jdbc:mysql://localhost/lbaas</db-path>
   
   <db-driver>com.mysql.jdbc.Driver</db-driver>
   
   <db-user>root</db-user>
   
   <db-pwd>lbaas</db-pwd>
   
   <gearman-job-server-addr>10.4.183.17</gearman-job-server-addr>
   
   <gearman-job-server-port>4730</gearman-job-server-port>
      
</lbaas-config>
